.info{
    padding: 3%;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
    text-align: left;
    display: inline-block;
}

.rightDiv{
    float: right;
    width: 250px;
    margin-right: 170px;
    padding: 4%;
}

.image-cropper{
    display: inline-block;
    margin: auto;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.records{
    text-align: justify;
    margin: auto;
    float: right;
    margin-left: initial;
}

.entry{
    font-weight: bold;
}

.upload-wrapper{
    position: absolute;
    top: 80%;
    left: 60%;
    cursor: pointer;
}

.upload{
    background: rgba(0, 0, 0);
    opacity: .5;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    outline: inherit;
}

.upload-wrapper input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: none;
}

.upload:hover{
    opacity: .8;

}

.upload:focus, .upload.focus{
	box-shadow: 0 0 0 1.5px rgba(85, 85, 85, .5);
}


@media (max-width: 1024px){
    .info{
        max-width: 80%;
        margin-top: 50px;
    }

    .leftDiv{
        display: block;
        font-size: .83rem;
    }

    .rightDiv{
        float: none;
        margin: auto;
        margin-top: 50px;
        width: 400px;
    }
}
