html{
    min-height: 100vh;
}

body{
    font-family: 'Raleway', sans-serif;;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#welcome{
	background: url(../img/bank.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    min-height: 100vh;
	position: relative;
}

#indexWelcome{
	background: url(../img/bank.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    min-height: 100vh;
	position: relative;
	padding-bottom: 20px;
}

.mob{
	display: none;
}

#admin{
	background: url(../img/bank3.jpeg);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    min-height: 100vh;
	position: relative;
	padding-bottom: 10px;
	padding-top: 50px;
	box-sizing: border-box;
}

#admin-login{
	background: url(../img/bank3.jpeg);
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    min-height: 100vh;
	position: relative;
	padding-bottom: 10px;
	box-sizing: border-box;
}

#welcome h1{
	font-size: 70px;
    color: #00ffff;
	padding-top: 13%;
    margin-top: 0;
    margin-bottom: 0;
}

#indexWelcome h1{
	font-size: 70px;
    color: #00ffff;
	padding-top: 13%;
    margin-top: 0;
    margin-bottom: 0;
}

.firsthr{
	width: 60px;
	margin-top:35px;
	margin-bottom:35px;
	border: 0;
    height: 1px;
    background: #00ffff;
}

.intro{
    color: #fff;
    font-size: 23px;
    margin-bottom: 50px;
}

#btn{
	text-decoration: none;
	color: #00ffff;
	font-size: 1.5rem;
	border: 2px solid #00ffff;
	border-radius: 5px;
	padding: 10px;
}

#btn:hover{
	color: #000;
	background: #00ffff;
}

#btn:focus, #btn.focus{
	box-shadow: 0 0 0 1px rgba(0, 255, 255, .5);
}

#submit:focus, #submit.focus{
	box-shadow: 0 0 0 1.5px rgba(0, 255, 255, .7);
}

.visible{
	position: relative;
	z-index: 1;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}

h3 a{
	margin-top: 0;
}

.user, .link{
	color: #ffff;
	opacity: .7;
	margin: 0;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	z-index: 10;
	text-align: right;
}

.user{
	opacity: 1;
}

.user:hover{
	color: #00ffff;
}

.active{
    opacity: 1;
}

.user:hover, .link:hover{
	opacity: 1;
}

.image-overlay{
	position: absolute;
	display:block;
	width:100%;
	height:100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.navbar{
	display: flex;
	padding: 16px;
}

.indexNavbar{
	display: flex;
	padding: 16px;
}

.nav{
	color: #00ffff;
	text-decoration: none;
	font-size: 25px;
	font-weight: 600;
}

.nav-in{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
}

.nav-items{
	display: flex;
}

.nav-link{
	margin-right: 50px;
}

.nav-right{
	margin-left: auto;
}

.avi{
	display: inline-block;
    width: 35px;
	height: 35px;
	margin-right: 60px;
    position: relative;
    overflow: hidden;
	border-radius: 50px;
}

.avatar, .pishicon{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.options{
	cursor: pointer;
}

.who{
	margin: 0;
	margin-right: 15px;
	margin-top: 8px;
}

.logout{
	display: none;
}

ul{
	list-style: none;
}

/* reference: https://codepen.io/ok2ju/pen/MwyvWY */

.menu-container {
	visibility: hidden;
	opacity: 0;
  }
  .menu-container.active {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease-in-out;
  }
  
  .user-menu {
	position: absolute;
	right: 50px;
	background-color: #f2f2f2;
	width: 120px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 50px;
  }

  .user-menu{
	padding-left: 0px;
  }

  .user-menu .user-menu-link {
	display: block;
	text-decoration: none;
	color: #444;
	font-size: 18px;
	padding: 5px 10px;
  }
  .user-menu .user-menu-link:hover {
	color: #000;
  }
  .user-menu:before {
	position: absolute;
	top: -16px;
	left: 72px;
	display: inline-block;
	content: "";
	border: 8px solid transparent;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.15);
  }
  .user-menu:after {
	position: absolute;
	top: -14px;
	left: 73px;
	display: inline-block;
	content: "";
	border: 7px solid transparent;
	border-bottom-color: #fff;
  }

  /* < ---------------------------------- > */

  i{
	border: solid #000;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 3px;
  }

  .caret{
	  transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  margin-left: 10px;
	  position: absolute;
	  right: 60px;
	  top: 30px;
	}

  .arrow{
	  margin: 0;
	}

.toggle-btn{
    transition: all 500ms linear;
	display: none;
}

.tog-btn{
    transition: all 500ms linear;
	display: none;
}

.toggle-btn span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
}

.tog-btn span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
}

.heading{
	text-align: center;
}

#form-text{
	font-size: 25px;
}

#signup-form{
    text-align: center;
    padding: 3%;
    margin: auto;
    width: 350px;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
}

form input{
	display: block;
	margin: auto;
	width: 300px;
	height: 30px;
	margin-bottom: 35px;
	padding-left: 10px;
    outline: none;
    border: 1px solid rgba(0, 255, 255, .5);
    border-radius: 5px;
}

.sel{
	display: block;
	margin: auto;
	width: 310px;
	height: 34px;
	margin-bottom: 35px;
	padding-left: 10px;
	outline: none;
	background: #fff;
    border: 1px solid rgba(0, 255, 255, .5);
    border-radius: 5px;
}

#login-form{
    text-align: center;
    padding: 3%;
    margin: auto;
    margin-top: 100px;
    width: 350px;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
}

#cred-form{
    text-align: center;
    padding: 3%;
    margin: auto;
    margin-top: 100px;
    width: 350px;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 10px;
}

.forgot{
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
}

.forgot:hover{
    text-decoration: underline;
}

.other{
    color: #007bff;
    text-decoration: none;
}

.other:hover{
    text-decoration: underline;
}

#submit{
	color: rgba(0, 0, 0, .7);
	background: #00ffff;
	background: rgba(0, 255, 255, .5);
	border: none;
	cursor: pointer;
	width: 300px;
	height: 35px;
    font-size: 18px;
}


@media only screen and (max-width: 1024px){
	.form-nav{
		background: #f2f2f2;
	}

	.form-brand, .form-users{
		color: #000;
	}

	.toggle-btn span{
		background: #000;
	}

	.navbar{
		display: flex;
		padding: 16px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	#welcome{
		padding-top:60px;
	}

	#admin, #admin-login{
		padding-top:60px;
	}

	#welcome h1{
		padding-top:15%;
	}

	#indexWelcome h1{
		padding-top:15%;
	}

	.desk{
		display: none;
	}

	.mob{
		display: block;
		text-align: center;
	}

	.navbar, .nav-items{
		flex-direction: column;
	}

	.indexNavbar{
		flex-direction: column;
	}

	.nav-right{
		margin-left: 0;
	}

	.nav-items{
		max-height: 0px;
		overflow: hidden;
		border-top: none;
		transition: all .3s;
	}

	.toggle-btn{
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
		right: 0;
	}

	.tog-btn{
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}

	.nav{
		float: left;
	}

	.nav-link{
		text-align: left;
	}

	.link, .user{
		padding-top: 10px;
	}

	.toggle-show{
		max-height: 200px;
		transition: all .5s;
	}
	
	#login-form, #signup-form{
		margin-top: 50px;
		max-width: 70%;
	}

	.logout{
		display: flex;
	}

	.who, .avi, i{
		display: none;
	}

	#cred-form{
		margin-top: 70px;
		max-width: 80%;
	}

	form input, #submit{
		width: 90%;
	}

	.sel{
		width: 91%;
	}

	#signup-form{
		margin-top: 20px;
	}

	.menu-container{
		display: none;
	}
}